<div class="dashboard">
  <header>
    <nav class="nav">
      <div class="left-side">
        <h1 class="text-logo">Dynamic Dashboard</h1>
      </div>
      <div class="right-side">
        <p class="greeting">{{ greeting }}</p>
        <img
          src="assets/images/luffy_no_bg.png"
          alt="profile"
          class="profile"
        />
      </div>
    </nav>
  </header>
  <div class="board-wrapper">
    <section class="board">
      <div class="menu">
        <div class="card-actions">
          <button
            class="btn add-card"
            (click)="showAddCardSelect = !showAddCardSelect"
          >
            Add
          </button>
          <button class="btn remove-card">Remove</button>
          <div class="add-card-div" *ngIf="showAddCardSelect">
            <h3 class="add-card-div-label">Add card</h3>
            <select
              class="add-card-select"
              *ngFor="let card of availableCards"
              [(ngModel)]="cardToBeAdded"
            >
              <option [value]="card.cardName">
                {{ card.cardName }}
              </option>
            </select>
            <button class="btn add-card" (click)="addCard()">add</button>
            <button
              class="btn cancel-add-card"
              (click)="showAddCardSelect = !showAddCardSelect"
            >
              cancel
            </button>
          </div>
        </div>
      </div>

      <div class="cards">
        <div *ngFor="let card of cards" draggable="true">
          <ng-container *ngComponentOutlet="card"></ng-container>
        </div>
      </div>
    </section>
  </div>
</div>
