<div class="dashboard">
  <header>
    <nav class="nav">
      <div class="left-side">
        <h1 class="text-logo">Dynamic Dashboard</h1>
      </div>
      <div class="right-side">
        <img
          src="assets/images/luffy_no_bg.png"
          alt="profile"
          class="profile"
        />
      </div>
    </nav>
  </header>
  <section class="board">
    <div class="menu">
      <button class="btn add">Add</button>
      <button class="btn remove">Remove</button>
    </div>
    <div class="cards">
      <app-app-to-do></app-app-to-do>
    </div>
  </section>
</div>
