@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --primary-blue: #1d3557;
  --primary-light-blue: #a8dadc;

  /* Secondary Colors */
  --secondary-teal: #457b9d;
  --secondary-teal-transparent: rgba(69, 123, 157, 0.8);
  --secondary-soft-green: #2a9d8f;

  /* Accent Colors */
  --accent-yellow: #f1fa8c;
  --accent-orange: #e76f51;

  /* Neutral Colors */
  --neutral-light-gray: #f1f1f1;
  --neutral-dark-gray: #2b2d42;

  /* Supporting Colors */
  --supporting-white: #ffffff;
  --supporting-muted-red: #f75a5a;
}

body {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  background-color: var(--neutral-light-gray);
  color: var(--neutral-dark-gray);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

ul,
ol {
  list-style: none;
}

/* components */
.btn {
  padding: 0.5rem 1.25rem;
  border-radius: 9999px;
  font-size: 0.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: var(--secondary-teal);
  color: var(--neutral-light-gray);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.btn:active {
  opacity: 0.8;
}

.btn:disabled {
  opacity: 0.5;
}

.card {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
}

.select {
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border: solid 1px var(--secondary-soft-green);
  border-radius: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 5px;
  overflow-x: auto;
  white-space: nowrap;
}
